<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Familia</title>
</head>
<body>
    <h1 style="color: blue;">Mi Familia:</h1>
    <h2 style="color:cadetblue"> Familiar #1 </h2>
        <h3> Nombre: {{ persona1.nombre }} </h3>
        <h3> Edad: {{ persona1.edad }} </h3>
        <h3> Fecha de Nacimiento: {{ persona1.fecha_de_nacimiento }} </h3>

    <h2 style="color:cadetblue"> Familiar #2 </h2>
       <h3> Nombre: {{ persona2.nombre }} </h3>
       <h3> Edad: {{ persona2.edad }} </h3> 
       <h3> Fecha de Nacimiento: {{ persona2.fecha_de_nacimiento }} </h3>

    <h2 style="color:cadetblue"> Familiar #3 </h2> 
    <h3> Nombre: {{ persona3.nombre }} </h3>
    <h3> Edad: {{ persona3.edad }} </h3> 
    <h3> Fecha de Nacimiento: {{ persona3.fecha_de_nacimiento }} </h3>
</body>
</html>